# This is an example environment file for GitHub
# DO NOT add any real passwords or secrets here!


VITE_API_URL=http://localhost:5077/api/
VITE_NO_API_URL=http://localhost:5077
VITE_SOME_SECRET_KEY=your_secret_key_here
